.list-category{
  font-size:2em;
  font-weight:bold;
  color:hsl(0,0%,20%);
  margin-bottm:10px;
  text-align:center;
  border:3px solid;
  border-radius:5px;
  background-color:hsl(152, 86%, 62%);
}


.counter-container{
  text-align:ceter;
  font-family:Arial,sans-serif;
}
